/*******************************************************************************
Full-Width Styles
*******************************************************************************/

body, #main_content_wrap {
  background: #fff;
}

.outer {
  width: 100%;
  background: #fff;
}

.inner {
  position: relative;
  max-width: 90%;
  padding: 10px;
  margin: 0 auto;
}

#header_wrap {
  background: #FFF;
}

#header_wrap .inner {
  padding: 10px 10px 10px 10px;
}

#project_title {
  margin: 0;
  color: #000;
  font-size: 52px;
  font-weight: 700;
  text-shadow: none;
}

#project_tagline {
  color: #000;
  font-size: 34px;
  font-weight: 300;
  background: none;
  text-shadow: none;
}

div#avatar img {
  width: 80%;
}

div#votes p.votes {
  font-size: 200%;
  font-family: Helvetica;
}

div#content {
  display: flex;
}

